
@{
    ViewBag.Title = "Asignaturas Cursadas";
}
<h2>@ViewBag.Title.</h2>

<table border="1">
    <tr>

        <th>Integrante</th>
        <th>Asignatura</th>
        <th>Total de creditos</th>
        <th>Profesor</th>
    </tr>
    @foreach (var item in ViewData["AsignaturasCursadas"] as IEnumerable<Examen_Practico.Models.AsignaturasCursadas>)
    {
        <tr>

            <td>@item.listaIntegrantes.Nombre  @item.listaIntegrantes.Apellido </td>
            <td>@item.listaAsignaturas.Asignatura1</td>
            <td>@item.listaAsignaturas.Creditos</td>
            <td>@item.listaProfesores.Nombre @item.listaProfesores.Apellido</td>
        </tr>

    }


</table>


@Html.ActionLink("Volver", "Asignaturas", "Home")
